In [2]:
# грузим библиотеки
import pandas as pd 
import numpy as np  

from IPython.display import display  
!pip install skimpy
from skimpy import skim as sk

Collecting skimpy
  Downloading skimpy-0.0.19-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: click>=8.1.7 in c:\users\user\anaconda3\lib\site-packages (from skimpy) (8.1.8)
Requirement already satisfied: ipykernel>=6.29.5 in c:\users\user\anaconda3\lib\site-packages (from skimpy) (6.29.5)
Requirement already satisfied: numpy>=2.0.2 in c:\users\user\anaconda3\lib\site-packages (from skimpy) (2.1.3)
Collecting pandas-stubs>=2.2.2.240807 (from skimpy)
  Downloading pandas_stubs-2.3.2.250926-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: pandas>=2.2.3 in c:\users\user\anaconda3\lib\site-packages (from skimpy) (2.2.3)
Collecting polars>=1.17.1 (from skimpy)
  Downloading polars-1.35.1-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: pygments>=2.18.0 in c:\users\user\anaconda3\lib\site-packages (from skimpy) (2.19.1)
Requirement already satisfied: rich>=13.9.4 in c:\users\user\anaconda3\lib\site-packages (from skimpy) (13.9.4)
Collecting typeguard>=4.4.1 (from skimpy)
  Downloading typeguard-4.4.4-py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: pyarrow>=17.0.0 in c:\users\user\anaconda3\lib\site-packages (from skimpy) (19.0.0)
Collecting pydoclint>=0.6.0 (from skimpy)
  Downloading pydoclint-0.8.1-py3-none-any.whl.metadata (10 kB)
Collecting duckdb>=1.2.2 (from skimpy)
  Downloading duckdb-1.4.1-cp313-cp313-win_amd64.whl.metadata (14 kB)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from click>=8.1.7->skimpy) (0.4.6)
Requirement already satisfied: comm>=0.1.1 in c:\users\user\anaconda3\lib\site-packages (from ipykernel>=6.29.5->skimpy) (0.2.1)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\user\anaconda3\lib\site-packages (from ipykernel>=6.29.5->skimpy) (1.8.11)
Requirement already satisfied: ipython>=7.23.1 in c:\users\user\anaconda3\lib\site-packages (from ipykernel>=6.29.5->skimpy) (8.30.0)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\user\anaconda3\lib\site-packages (from ipykernel>=6.29.5->skimpy) (8.6.3)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\user\anaconda3\lib\site-packages (from ipykernel>=6.29.5->skimpy) (5.7.2)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\user\anaconda3\lib\site-packages (from ipykernel>=6.29.5->skimpy) (0.1.6)
Requirement already satisfied: nest-asyncio in c:\users\user\anaconda3\lib\site-packages (from ipykernel>=6.29.5->skimpy) (1.6.0)
Requirement already satisfied: packaging in c:\users\user\anaconda3\lib\site-packages (from ipykernel>=6.29.5->skimpy) (24.2)
Requirement already satisfied: psutil in c:\users\user\anaconda3\lib\site-packages (from ipykernel>=6.29.5->skimpy) (5.9.0)
Requirement already satisfied: pyzmq>=24 in c:\users\user\anaconda3\lib\site-packages (from ipykernel>=6.29.5->skimpy) (26.2.0)
Requirement already satisfied: tornado>=6.1 in c:\users\user\anaconda3\lib\site-packages (from ipykernel>=6.29.5->skimpy) (6.5.1)
Requirement already satisfied: traitlets>=5.4.0 in c:\users\user\anaconda3\lib\site-packages (from ipykernel>=6.29.5->skimpy) (5.14.3)
Requirement already satisfied: decorator in c:\users\user\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=6.29.5->skimpy) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\user\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=6.29.5->skimpy) (0.19.2)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\user\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=6.29.5->skimpy) (3.0.43)
Requirement already satisfied: stack-data in c:\users\user\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=6.29.5->skimpy) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\user\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=7.23.1->ipykernel>=6.29.5->skimpy) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\user\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel>=6.29.5->skimpy) (0.8.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->ipykernel>=6.29.5->skimpy) (2.9.0.post0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\user\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel>=6.29.5->skimpy) (4.3.7)
Requirement already satisfied: pywin32>=300 in c:\users\user\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel>=6.29.5->skimpy) (308)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=2.2.3->skimpy) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas>=2.2.3->skimpy) (2025.2)
Collecting types-pytz>=2022.1.1 (from pandas-stubs>=2.2.2.240807->skimpy)
  Downloading types_pytz-2025.2.0.20250809-py3-none-any.whl.metadata (1.7 kB)
Collecting polars-runtime-32==1.35.1 (from polars>=1.17.1->skimpy)
  Downloading polars_runtime_32-1.35.1-cp39-abi3-win_amd64.whl.metadata (1.5 kB)
Collecting docstring_parser_fork>=0.0.12 (from pydoclint>=0.6.0->skimpy)
  Downloading docstring_parser_fork-0.0.14-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->jupyter-client>=6.1.12->ipykernel>=6.29.5->skimpy) (1.17.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\user\anaconda3\lib\site-packages (from rich>=13.9.4->skimpy) (2.2.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\user\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich>=13.9.4->skimpy) (0.1.0)
Collecting typing_extensions>=4.14.0 (from typeguard>=4.4.1->skimpy)
  Downloading typing_extensions-4.15.0-py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: executing in c:\users\user\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel>=6.29.5->skimpy) (0.8.3)
Requirement already satisfied: asttokens in c:\users\user\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel>=6.29.5->skimpy) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\user\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel>=6.29.5->skimpy) (0.2.2)
Downloading skimpy-0.0.19-py3-none-any.whl (17 kB)
Downloading duckdb-1.4.1-cp313-cp313-win_amd64.whl (12.3 MB)
   ---------------------------------------- 0.0/12.3 MB ? eta -:--:--
    --------------------------------------- 0.3/12.3 MB ? eta -:--:--
   ----- ---------------------------------- 1.6/12.3 MB 6.1 MB/s eta 0:00:02
   ----------- ---------------------------- 3.4/12.3 MB 7.1 MB/s eta 0:00:02
   ----------------- ---------------------- 5.5/12.3 MB 8.0 MB/s eta 0:00:01
   ---------------------- ----------------- 6.8/12.3 MB 7.7 MB/s eta 0:00:01
   -------------------------- ------------- 8.1/12.3 MB 7.5 MB/s eta 0:00:01
   ------------------------------- -------- 9.7/12.3 MB 7.4 MB/s eta 0:00:01
   ----------------------------------- ---- 11.0/12.3 MB 7.3 MB/s eta 0:00:01
   ---------------------------------------- 12.3/12.3 MB 7.1 MB/s eta 0:00:00
Downloading pandas_stubs-2.3.2.250926-py3-none-any.whl (159 kB)
Downloading polars-1.35.1-py3-none-any.whl (783 kB)
   ---------------------------------------- 0.0/783.6 kB ? eta -:--:--
   ---------------------------------------- 783.6/783.6 kB 4.8 MB/s eta 0:00:00
Downloading polars_runtime_32-1.35.1-cp39-abi3-win_amd64.whl (41.3 MB)
   ---------------------------------------- 0.0/41.3 MB ? eta -:--:--
   - -------------------------------------- 1.6/41.3 MB 7.0 MB/s eta 0:00:06
   -- ------------------------------------- 2.9/41.3 MB 7.2 MB/s eta 0:00:06
   ---- ----------------------------------- 4.5/41.3 MB 7.1 MB/s eta 0:00:06
   ----- ---------------------------------- 6.0/41.3 MB 7.3 MB/s eta 0:00:05
   ------- -------------------------------- 7.6/41.3 MB 7.4 MB/s eta 0:00:05
   -------- ------------------------------- 9.2/41.3 MB 7.3 MB/s eta 0:00:05
   ---------- ----------------------------- 10.7/41.3 MB 7.3 MB/s eta 0:00:05
   ----------- ---------------------------- 12.3/41.3 MB 7.3 MB/s eta 0:00:04
   ------------- -------------------------- 13.9/41.3 MB 7.4 MB/s eta 0:00:04
   -------------- ------------------------- 15.5/41.3 MB 7.4 MB/s eta 0:00:04
   ---------------- ----------------------- 17.0/41.3 MB 7.5 MB/s eta 0:00:04
   ------------------ --------------------- 18.6/41.3 MB 7.4 MB/s eta 0:00:04
   ------------------- -------------------- 20.2/41.3 MB 7.4 MB/s eta 0:00:03
   -------------------- ------------------- 21.5/41.3 MB 7.5 MB/s eta 0:00:03
   ---------------------- ----------------- 23.3/41.3 MB 7.4 MB/s eta 0:00:03
   ---------------------- ----------------- 23.3/41.3 MB 7.4 MB/s eta 0:00:03
   ----------------------- ---------------- 23.9/41.3 MB 6.7 MB/s eta 0:00:03
   ------------------------ --------------- 24.9/41.3 MB 6.6 MB/s eta 0:00:03
   ------------------------ --------------- 25.7/41.3 MB 6.6 MB/s eta 0:00:03
   -------------------------- ------------- 27.0/41.3 MB 6.5 MB/s eta 0:00:03
   --------------------------- ------------ 28.3/41.3 MB 6.4 MB/s eta 0:00:03
   ---------------------------- ----------- 29.6/41.3 MB 6.4 MB/s eta 0:00:02
   ----------------------------- ---------- 30.7/41.3 MB 6.4 MB/s eta 0:00:02
   ------------------------------- -------- 32.2/41.3 MB 6.4 MB/s eta 0:00:02
   ------------------------------- -------- 32.8/41.3 MB 6.4 MB/s eta 0:00:02
   -------------------------------- ------- 33.6/41.3 MB 6.2 MB/s eta 0:00:02
   --------------------------------- ------ 34.6/41.3 MB 6.1 MB/s eta 0:00:02
   ---------------------------------- ----- 35.7/41.3 MB 6.1 MB/s eta 0:00:01
   ----------------------------------- ---- 36.7/41.3 MB 6.0 MB/s eta 0:00:01
   ------------------------------------ --- 38.0/41.3 MB 6.0 MB/s eta 0:00:01
   ------------------------------------- -- 39.1/41.3 MB 6.0 MB/s eta 0:00:01
   -------------------------------------- - 40.1/41.3 MB 6.0 MB/s eta 0:00:01
   ---------------------------------------  41.2/41.3 MB 6.0 MB/s eta 0:00:01
   ---------------------------------------- 41.3/41.3 MB 5.8 MB/s eta 0:00:00
Downloading pydoclint-0.8.1-py3-none-any.whl (77 kB)
Downloading docstring_parser_fork-0.0.14-py3-none-any.whl (43 kB)
Downloading typeguard-4.4.4-py3-none-any.whl (34 kB)
Downloading types_pytz-2025.2.0.20250809-py3-none-any.whl (10 kB)
Downloading typing_extensions-4.15.0-py3-none-any.whl (44 kB)
Installing collected packages: typing_extensions, types-pytz, polars-runtime-32, duckdb, docstring_parser_fork, typeguard, pydoclint, polars, pandas-stubs, skimpy

  Attempting uninstall: typing_extensions

    Found existing installation: typing_extensions 4.12.2

    Uninstalling typing_extensions-4.12.2:

   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
      Successfully uninstalled typing_extensions-4.12.2
   ----------------------------------------  0/10 [typing_extensions]
   ----------------------------------------  0/10 [typing_extensions]
   -------- -------------------------------  2/10 [polars-runtime-32]
   -------- -------------------------------  2/10 [polars-runtime-32]
   -------- -------------------------------  2/10 [polars-runtime-32]
   -------- -------------------------------  2/10 [polars-runtime-32]
   -------- -------------------------------  2/10 [polars-runtime-32]
   -------- -------------------------------  2/10 [polars-runtime-32]
   -------- -------------------------------  2/10 [polars-runtime-32]
   -------- -------------------------------  2/10 [polars-runtime-32]
   -------- -------------------------------  2/10 [polars-runtime-32]
   -------- -------------------------------  2/10 [polars-runtime-32]
   -------- -------------------------------  2/10 [polars-runtime-32]
   -------- -------------------------------  2/10 [polars-runtime-32]
   -------- -------------------------------  2/10 [polars-runtime-32]
   -------- -------------------------------  2/10 [polars-runtime-32]
   -------- -------------------------------  2/10 [polars-runtime-32]
   -------- -------------------------------  2/10 [polars-runtime-32]
   ------------ ---------------------------  3/10 [duckdb]
   ------------ ---------------------------  3/10 [duckdb]
   ------------ ---------------------------  3/10 [duckdb]
   ------------ ---------------------------  3/10 [duckdb]
   ------------ ---------------------------  3/10 [duckdb]
   ------------ ---------------------------  3/10 [duckdb]
   ------------ ---------------------------  3/10 [duckdb]
   ------------ ---------------------------  3/10 [duckdb]
   ---------------- -----------------------  4/10 [docstring_parser_fork]
   ---------------- -----------------------  4/10 [docstring_parser_fork]
   ---------------- -----------------------  4/10 [docstring_parser_fork]
   -------------------- -------------------  5/10 [typeguard]
   -------------------- -------------------  5/10 [typeguard]
   ------------------------ ---------------  6/10 [pydoclint]
   ------------------------ ---------------  6/10 [pydoclint]
   ------------------------ ---------------  6/10 [pydoclint]
   ---------------------------- -----------  7/10 [polars]
   ---------------------------- -----------  7/10 [polars]
   ---------------------------- -----------  7/10 [polars]
   ---------------------------- -----------  7/10 [polars]
   ---------------------------- -----------  7/10 [polars]
   ---------------------------- -----------  7/10 [polars]
   ---------------------------- -----------  7/10 [polars]
   ---------------------------- -----------  7/10 [polars]
   ---------------------------- -----------  7/10 [polars]
   ---------------------------- -----------  7/10 [polars]
   ---------------------------- -----------  7/10 [polars]
   ---------------------------- -----------  7/10 [polars]
   ---------------------------- -----------  7/10 [polars]
   ---------------------------- -----------  7/10 [polars]
   ---------------------------- -----------  7/10 [polars]
   ---------------------------- -----------  7/10 [polars]
   ---------------------------- -----------  7/10 [polars]
   ---------------------------- -----------  7/10 [polars]
   ---------------------------- -----------  7/10 [polars]
   ---------------------------- -----------  7/10 [polars]
   ---------------------------- -----------  7/10 [polars]
   ---------------------------- -----------  7/10 [polars]
   -------------------------------- -------  8/10 [pandas-stubs]
   -------------------------------- -------  8/10 [pandas-stubs]
   ------------------------------------ ---  9/10 [skimpy]
   ---------------------------------------- 10/10 [skimpy]

Successfully installed docstring_parser_fork-0.0.14 duckdb-1.4.1 pandas-stubs-2.3.2.250926 polars-1.35.1 polars-runtime-32-1.35.1 pydoclint-0.8.1 skimpy-0.0.19 typeguard-4.4.4 types-pytz-2025.2.0.20250809 typing_extensions-4.15.0

In [3]:
pd.set_option('display.float', '{:.2f}'.format)
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 50)

In [4]:
# грузим дату
df = pd.read_csv("accepted_2007_to_2018Q4.csv")
display(df.head())

C:\Users\User\AppData\Local\Temp\ipykernel_17220\2678965597.py:2: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("accepted_2007_to_2018Q4.csv")

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,...,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.00,3600.00,3600.00,36 months,13.99,123.03,C,C4,leadman,10+ years,MORTGAGE,55000.00,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,190xx,PA,5.91,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.00,24700.00,24700.00,36 months,11.99,820.28,C,C1,Engineer,10+ years,MORTGAGE,65000.00,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,Business,577xx,SD,16.06,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.00,20000.00,20000.00,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,63000.00,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,home_improvement,NaN,605xx,IL,10.78,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.00,35000.00,35000.00,60 months,14.85,829.90,C,C5,Information Systems Officer,10+ years,MORTGAGE,110000.00,Source Verified,Dec-2015,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,076xx,NJ,17.06,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.00,10400.00,10400.00,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,MORTGAGE,104433.00,Source Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,major_purchase,Major purchase,174xx,PA,25.37,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
print(df.columns)

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=151)

In [6]:
# удаляем ненужные колонки
columns_to_drop = [
                'member_id', 'funded_amnt', 'funded_amnt_inv', 'pymnt_plan', 'url', 'desc', 'delinq_2yrs',
                'settlement_term', 'mths_since_last_delinq', 'mths_since_last_record', 'out_prncp', 'out_prncp_inv',
                'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
                'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d',
                'last_credit_pull_d', 'last_fico_range_high', 'last_fico_range_low',
                'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code',
                'annual_inc_joint',	'dti_joint', 'verification_status_joint', 'acc_now_delinq',
                'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m',
                'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m',	'open_rv_24m',	'max_bal_bc',
                'all_util',	'total_rev_hi_lim',	'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths',
                'avg_cur_bal', 'bc_open_to_buy', 'bc_util',	'chargeoff_within_12_mths',	'delinq_amnt',
                'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
                'mths_since_recent_bc',	'mths_since_recent_bc_dlq',	'mths_since_recent_inq', 
                'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl',
                'num_actv_rev_tl',	'num_bc_sats',	'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
                'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',	'num_tl_30dpd',
                'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',	'pct_tl_nvr_dlq', 'percent_bc_gt_75',
                'tax_liens', 'tot_hi_cred_lim',	'total_bal_ex_mort', 'total_bc_limit', 
                'total_il_high_credit_limit', 'revol_bal_joint', 'sec_app_fico_range_low',
                'sec_app_fico_range_high', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths',
                'sec_app_mort_acc',	'sec_app_open_acc',	'sec_app_revol_util', 'sec_app_open_act_il',
                'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 
                'sec_app_collections_12_mths_ex_med', 'sec_app_mths_since_last_major_derog','hardship_flag',	
                'hardship_type', 'hardship_reason',	'hardship_status', 'deferral_term', 'hardship_amount', 
                'hardship_start_date',	'hardship_end_date', 'payment_plan_start_date',	'hardship_length',	'hardship_dpd',
                'hardship_loan_status',	'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount',	'hardship_last_payment_amount',
                'disbursement_method', 'debt_settlement_flag', 'debt_settlement_flag_date','settlement_status',	
                'settlement_date', 'settlement_amount', 'settlement_percentage',
]

df.drop(columns=columns_to_drop, inplace=True)

In [8]:
# проверяем
display(df.head())
df.to_csv('Up_LoanApproval.csv')

,id,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,zip_code,addr_state,dti,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies
0,68407277,3600.00,36 months,13.99,123.03,C,C4,leadman,10+ years,MORTGAGE,55000.00,Not Verified,Dec-2015,Fully Paid,debt_consolidation,Debt consolidation,190xx,PA,5.91,Aug-2003,675.00,679.00,1.00,7.00,0.00,2765.00,29.70,13.00,w,Individual,1.00,0.00
1,68355089,24700.00,36 months,11.99,820.28,C,C1,Engineer,10+ years,MORTGAGE,65000.00,Not Verified,Dec-2015,Fully Paid,small_business,Business,577xx,SD,16.06,Dec-1999,715.00,719.00,4.00,22.00,0.00,21470.00,19.20,38.00,w,Individual,4.00,0.00
2,68341763,20000.00,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,63000.00,Not Verified,Dec-2015,Fully Paid,home_improvement,NaN,605xx,IL,10.78,Aug-2000,695.00,699.00,0.00,6.00,0.00,7869.00,56.20,18.00,w,Joint App,5.00,0.00
3,66310712,35000.00,60 months,14.85,829.90,C,C5,Information Systems Officer,10+ years,MORTGAGE,110000.00,Source Verified,Dec-2015,Current,debt_consolidation,Debt consolidation,076xx,NJ,17.06,Sep-2008,785.00,789.00,0.00,13.00,0.00,7802.00,11.60,17.00,w,Individual,1.00,0.00
4,68476807,10400.00,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,MORTGAGE,104433.00,Source Verified,Dec-2015,Fully Paid,major_purchase,Major purchase,174xx,PA,25.37,Jun-1998,695.00,699.00,3.00,12.00,0.00,21929.00,64.50,35.00,w,Individual,6.00,0.00

In [9]:
df1 = pd.read_csv("Up_LoanApproval.csv")

C:\Users\User\AppData\Local\Temp\ipykernel_17220\410939159.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv("Up_LoanApproval.csv")

In [10]:
# проверяем данные
data_types = df1.dtypes
display(data_types)

Unnamed: 0                int64
id                       object
loan_amnt               float64
term                     object
int_rate                float64
installment             float64
grade                    object
sub_grade                object
emp_title                object
emp_length               object
home_ownership           object
annual_inc              float64
verification_status      object
issue_d                  object
loan_status              object
purpose                  object
title                    object
zip_code                 object
addr_state               object
dti                     float64
earliest_cr_line         object
fico_range_low          float64
fico_range_high         float64
inq_last_6mths          float64
open_acc                float64
pub_rec                 float64
revol_bal               float64
revol_util              float64
total_acc               float64
initial_list_status      object
application_type         object
mort_acc                float64
pub_rec_bankruptcies    float64
dtype: object

In [11]:
# чекаем нули
null_counts = df1.isnull().sum()
# сколько нулей в колонках
print("Null Value Counts in Each Column:")
print(null_counts)

Null Value Counts in Each Column:
Unnamed: 0                   0
id                           0
loan_amnt                   33
term                        33
int_rate                    33
installment                 33
grade                       33
sub_grade                   33
emp_title               167002
emp_length              146940
home_ownership              33
annual_inc                  37
verification_status         33
issue_d                     33
loan_status                 33
purpose                     33
title                    23359
zip_code                    34
addr_state                  33
dti                       1744
earliest_cr_line            62
fico_range_low              33
fico_range_high             33
inq_last_6mths              63
open_acc                    62
pub_rec                     62
revol_bal                   33
revol_util                1835
total_acc                   62
initial_list_status         33
application_type            33
mort_acc                 50063
pub_rec_bankruptcies      1398
dtype: int64

In [12]:
# уникалки в колонках
unique_data_types_per_column = df1.applymap(type).apply(set)
# названия колонок с типом данных
print("Column Names and Their Unique Data Types:")
for column, unique_data_types in unique_data_types_per_column.items():
    print(f"{column}: {', '.join(str(dt) for dt in unique_data_types)}")

C:\Users\User\AppData\Local\Temp\ipykernel_17220\567275950.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  unique_data_types_per_column = df1.applymap(type).apply(set)

Column Names and Their Unique Data Types:
Unnamed: 0: <class 'int'>
id: <class 'str'>, <class 'int'>
loan_amnt: <class 'float'>
term: <class 'float'>, <class 'str'>
int_rate: <class 'float'>
installment: <class 'float'>
grade: <class 'float'>, <class 'str'>
sub_grade: <class 'float'>, <class 'str'>
emp_title: <class 'float'>, <class 'str'>
emp_length: <class 'float'>, <class 'str'>
home_ownership: <class 'float'>, <class 'str'>
annual_inc: <class 'float'>
verification_status: <class 'float'>, <class 'str'>
issue_d: <class 'float'>, <class 'str'>
loan_status: <class 'float'>, <class 'str'>
purpose: <class 'float'>, <class 'str'>
title: <class 'float'>, <class 'str'>
zip_code: <class 'float'>, <class 'str'>
addr_state: <class 'float'>, <class 'str'>
dti: <class 'float'>
earliest_cr_line: <class 'float'>, <class 'str'>
fico_range_low: <class 'float'>
fico_range_high: <class 'float'>
inq_last_6mths: <class 'float'>
open_acc: <class 'float'>
pub_rec: <class 'float'>
revol_bal: <class 'float'>
revol_util: <class 'float'>
total_acc: <class 'float'>
initial_list_status: <class 'float'>, <class 'str'>
application_type: <class 'float'>, <class 'str'>
mort_acc: <class 'float'>
pub_rec_bankruptcies: <class 'float'>

In [13]:
# поле с id содержит значения числовые и строчные
# поле с id переводим в числовые значения
df1['id'] = pd.to_numeric(df1['id'], errors='coerce')

# убираем nan значения из поля id 
df1 = df1.dropna(subset=['id'])

# ресеттим индекс
df1 = df1.reset_index(drop=True)

In [14]:
# чекаем тип поля id
original_dtype = df1['id'].dtype
print("Original Data Type of 'id' Column:", original_dtype)

#переводим в целые числа
df1['id'] = df1['id'].astype(int)

# чекаем новый тип поля
updated_dtype = df1['id'].dtype
print("Updated Data Type of 'id' Column:", updated_dtype)

Original Data Type of 'id' Column: float64
Updated Data Type of 'id' Column: int64

In [15]:
#перепроверяем на нули
null_counts = df1.isnull().sum()
print("Null Value Counts in Each Column:")
print(null_counts)

Null Value Counts in Each Column:
Unnamed: 0                   0
id                           0
loan_amnt                    0
term                         0
int_rate                     0
installment                  0
grade                        0
sub_grade                    0
emp_title               166969
emp_length              146907
home_ownership               0
annual_inc                   4
verification_status          0
issue_d                      0
loan_status                  0
purpose                      0
title                    23326
zip_code                     1
addr_state                   0
dti                       1711
earliest_cr_line            29
fico_range_low               0
fico_range_high              0
inq_last_6mths              30
open_acc                    29
pub_rec                     29
revol_bal                    0
revol_util                1802
total_acc                   29
initial_list_status          0
application_type             0
mort_acc                 50030
pub_rec_bankruptcies      1365
dtype: int64

In [16]:
# находим поля с неколькими типами данных
columns_with_multiple_datatypes = df1.columns[df1.applymap(type).nunique() > 1]

# выводим наименования полей 
print("Columns with Multiple Data Types and Their Data Types:")
for column in columns_with_multiple_datatypes:
    unique_datatypes = df1[column].apply(type).unique()
    print(f"{column}: {', '.join(str(dt) for dt in unique_datatypes)}")

C:\Users\User\AppData\Local\Temp\ipykernel_17220\3464725629.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  columns_with_multiple_datatypes = df1.columns[df1.applymap(type).nunique() > 1]

Columns with Multiple Data Types and Their Data Types:
emp_title: <class 'str'>, <class 'float'>
emp_length: <class 'str'>, <class 'float'>
title: <class 'str'>, <class 'float'>
zip_code: <class 'str'>, <class 'float'>
earliest_cr_line: <class 'str'>, <class 'float'>

In [17]:
#убираем поля с nan значениями в полях
df1 = df1.dropna(subset=['zip_code','annual_inc', 'earliest_cr_line', 'emp_length'])

In [18]:
#снова ищем поля с несколькими типами данных
columns_with_multiple_datatypes = df1.columns[df1.applymap(type).nunique() > 1]

# выводим имена полей
print("Columns with Multiple Data Types and Their Data Types:")
for column in columns_with_multiple_datatypes:
    unique_datatypes = df1[column].apply(type).unique()
    print(f"{column}: {', '.join(str(dt) for dt in unique_datatypes)}")

C:\Users\User\AppData\Local\Temp\ipykernel_17220\4210649330.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  columns_with_multiple_datatypes = df1.columns[df1.applymap(type).nunique() > 1]

Columns with Multiple Data Types and Their Data Types:
emp_title: <class 'str'>, <class 'float'>
title: <class 'str'>, <class 'float'>

In [21]:
#нули заменяем на "самозанятый"
df1['emp_title'].fillna('Self Employed', inplace=True)

In [22]:
#убираем строки где 'emp_length' = null
df1.dropna(subset=['inq_last_6mths'], inplace=True)

In [23]:
#перепроверяем на нули
null_counts = df1.isnull().sum()
print("Null Value Counts in Each Column:")
print(null_counts)

Null Value Counts in Each Column:
Unnamed: 0                  0
id                          0
loan_amnt                   0
term                        0
int_rate                    0
installment                 0
grade                       0
sub_grade                   0
emp_title                   0
emp_length                  0
home_ownership              0
annual_inc                  0
verification_status         0
issue_d                     0
loan_status                 0
purpose                     0
title                   20111
zip_code                    0
addr_state                  0
dti                       113
earliest_cr_line            0
fico_range_low              0
fico_range_high             0
inq_last_6mths              0
open_acc                    0
pub_rec                     0
revol_bal                   0
revol_util               1622
total_acc                   0
initial_list_status         0
application_type            0
mort_acc                48627
pub_rec_bankruptcies     1336
dtype: int64

In [24]:
# где тайтл пустой ставим цель кредита
purpose_to_title_mapping = {
    'home_improvement': 'Home Improvement',
    'other': 'Other',
    'debt_consolidation': 'Debt Consolidation',
    'small_business': 'Business',
    'major_purchase': 'Major Purchase',
    'credit_card': 'Credit card Refinancing',
    'house': 'Buying Home',
    'vacation': 'Vacations',
    'car': 'Car Financing',
    'medical': 'Medical Expenses',
    'moving': 'Moving and Relocation',
    'renewable_energy': 'Green Loan',
    'wedding': 'Wedding',
    'educational': 'Student Loan / Expenses'
}

def fill_title(row):
    if row['purpose'] in purpose_to_title_mapping:
        return purpose_to_title_mapping[row['purpose']]
    else:
        return row['title']

# где нули ставим "не известно"
df1['title'].fillna(df1['purpose'].map(purpose_to_title_mapping), inplace=True)
df1['title'] = df1.apply(fill_title, axis=1)

df1.reset_index(drop=True, inplace=True)
df1.drop(columns=['Unnamed: 0'], inplace=True)
display(df1.head())

C:\Users\User\AppData\Local\Temp\ipykernel_17220\4178994068.py:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['title'].fillna(df1['purpose'].map(purpose_to_title_mapping), inplace=True)

,id,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,zip_code,addr_state,dti,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies
0,68407277,3600.00,36 months,13.99,123.03,C,C4,leadman,10+ years,MORTGAGE,55000.00,Not Verified,Dec-2015,Fully Paid,debt_consolidation,Debt Consolidation,190xx,PA,5.91,Aug-2003,675.00,679.00,1.00,7.00,0.00,2765.00,29.70,13.00,w,Individual,1.00,0.00
1,68355089,24700.00,36 months,11.99,820.28,C,C1,Engineer,10+ years,MORTGAGE,65000.00,Not Verified,Dec-2015,Fully Paid,small_business,Business,577xx,SD,16.06,Dec-1999,715.00,719.00,4.00,22.00,0.00,21470.00,19.20,38.00,w,Individual,4.00,0.00
2,68341763,20000.00,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,63000.00,Not Verified,Dec-2015,Fully Paid,home_improvement,Home Improvement,605xx,IL,10.78,Aug-2000,695.00,699.00,0.00,6.00,0.00,7869.00,56.20,18.00,w,Joint App,5.00,0.00
3,66310712,35000.00,60 months,14.85,829.90,C,C5,Information Systems Officer,10+ years,MORTGAGE,110000.00,Source Verified,Dec-2015,Current,debt_consolidation,Debt Consolidation,076xx,NJ,17.06,Sep-2008,785.00,789.00,0.00,13.00,0.00,7802.00,11.60,17.00,w,Individual,1.00,0.00
4,68476807,10400.00,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,MORTGAGE,104433.00,Source Verified,Dec-2015,Fully Paid,major_purchase,Major Purchase,174xx,PA,25.37,Jun-1998,695.00,699.00,3.00,12.00,0.00,21929.00,64.50,35.00,w,Individual,6.00,0.00

In [26]:
#где dti нулевой считаем формулой
df1['dti'] = (df1['installment'] / (df1['annual_inc'] / 12)) * 100

# переименуем в "DTI Ratio"
df1.rename(columns={'dti': 'DTI Ratio %'}, inplace=True)

#также пересчитаем revol_util
# 'revol_bal' - итого кредитный баланс, 'total_acc'-кол-во кредитных счетов
df1['revol_util'] = (df1['revol_bal'] / df1['total_acc']) * 100

# переводим поля в целые значения (mor_acc содержит нули, его не переводим)
int_columns = ['fico_range_low', 'fico_range_high', 'inq_last_6mths', 'open_acc', 'pub_rec', 'total_acc']
df1[int_columns] = df1[int_columns].astype(int)

# мэппим 'w' и 'f' к значениям
status_mapping = {'w': 'Whole Funded', 'f': 'Fractional Funded'}

# заменяем 'w' и 'f'
df1['initial_list_status'] = df1['initial_list_status'].replace(status_mapping)

# делим на бакеты кредитные скоры
score_bins = [0, 579, 669, 739, 799, float('inf')]
score_labels = ['Poor', 'Fair', 'Good', 'Very Good', 'Excellent']
df1['credit_score_bucket'] = pd.cut(df1['fico_range_low'], bins=score_bins, labels=score_labels)

display(df1.head())

,id,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,zip_code,addr_state,DTI Ratio %,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,credit_score_bucket,DTI Ratio %
0,68407277,3600.00,36 months,13.99,123.03,C,C4,leadman,10+ years,MORTGAGE,55000.00,Not Verified,Dec-2015,Fully Paid,debt_consolidation,Debt Consolidation,190xx,PA,2.68,Aug-2003,675,679,1,7,0,2765.00,21269.23,13,Whole Funded,Individual,1.00,0.00,Good,2.68
1,68355089,24700.00,36 months,11.99,820.28,C,C1,Engineer,10+ years,MORTGAGE,65000.00,Not Verified,Dec-2015,Fully Paid,small_business,Business,577xx,SD,15.14,Dec-1999,715,719,4,22,0,21470.00,56500.00,38,Whole Funded,Individual,4.00,0.00,Good,15.14
2,68341763,20000.00,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,63000.00,Not Verified,Dec-2015,Fully Paid,home_improvement,Home Improvement,605xx,IL,8.24,Aug-2000,695,699,0,6,0,7869.00,43716.67,18,Whole Funded,Joint App,5.00,0.00,Good,8.24
3,66310712,35000.00,60 months,14.85,829.90,C,C5,Information Systems Officer,10+ years,MORTGAGE,110000.00,Source Verified,Dec-2015,Current,debt_consolidation,Debt Consolidation,076xx,NJ,9.05,Sep-2008,785,789,0,13,0,7802.00,45894.12,17,Whole Funded,Individual,1.00,0.00,Very Good,9.05
4,68476807,10400.00,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,MORTGAGE,104433.00,Source Verified,Dec-2015,Fully Paid,major_purchase,Major Purchase,174xx,PA,3.33,Jun-1998,695,699,3,12,0,21929.00,62654.29,35,Whole Funded,Individual,6.00,0.00,Good,3.33

In [27]:
#снова перепроверяем нули
null_counts = df1.isnull().sum()
print("Null Value Counts in Each Column:")
print(null_counts)

Null Value Counts in Each Column:
id                          0
loan_amnt                   0
term                        0
int_rate                    0
installment                 0
grade                       0
sub_grade                   0
emp_title                   0
emp_length                  0
home_ownership              0
annual_inc                  0
verification_status         0
issue_d                     0
loan_status                 0
purpose                     0
title                       0
zip_code                    0
addr_state                  0
DTI Ratio %                 0
earliest_cr_line            0
fico_range_low              0
fico_range_high             0
inq_last_6mths              0
open_acc                    0
pub_rec                     0
revol_bal                   0
revol_util                  0
total_acc                   0
initial_list_status         0
application_type            0
mort_acc                48627
pub_rec_bankruptcies     1336
credit_score_bucket         0
DTI Ratio %                 0
dtype: int64

In [28]:
# рендж оценок
df1['credit_score_range'] = df1['fico_range_high'] - df1['fico_range_low']

# считаем месячный доход
df1['monthly_income'] = df1['annual_inc'] / 12

# считаем КЮК (payment-to-income)
df1['payment_to_income_ratio (%)'] = (df1['installment'] / df1['monthly_income']) * 100


display(df1.head())

,id,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,zip_code,addr_state,DTI Ratio %,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,credit_score_bucket,DTI Ratio %,credit_score_range,monthly_income,payment_to_income_ratio (%)
0,68407277,3600.00,36 months,13.99,123.03,C,C4,leadman,10+ years,MORTGAGE,55000.00,Not Verified,Dec-2015,Fully Paid,debt_consolidation,Debt Consolidation,190xx,PA,2.68,Aug-2003,675,679,1,7,0,2765.00,21269.23,13,Whole Funded,Individual,1.00,0.00,Good,2.68,4,4583.33,2.68
1,68355089,24700.00,36 months,11.99,820.28,C,C1,Engineer,10+ years,MORTGAGE,65000.00,Not Verified,Dec-2015,Fully Paid,small_business,Business,577xx,SD,15.14,Dec-1999,715,719,4,22,0,21470.00,56500.00,38,Whole Funded,Individual,4.00,0.00,Good,15.14,4,5416.67,15.14
2,68341763,20000.00,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,63000.00,Not Verified,Dec-2015,Fully Paid,home_improvement,Home Improvement,605xx,IL,8.24,Aug-2000,695,699,0,6,0,7869.00,43716.67,18,Whole Funded,Joint App,5.00,0.00,Good,8.24,4,5250.00,8.24
3,66310712,35000.00,60 months,14.85,829.90,C,C5,Information Systems Officer,10+ years,MORTGAGE,110000.00,Source Verified,Dec-2015,Current,debt_consolidation,Debt Consolidation,076xx,NJ,9.05,Sep-2008,785,789,0,13,0,7802.00,45894.12,17,Whole Funded,Individual,1.00,0.00,Very Good,9.05,4,9166.67,9.05
4,68476807,10400.00,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,MORTGAGE,104433.00,Source Verified,Dec-2015,Fully Paid,major_purchase,Major Purchase,174xx,PA,3.33,Jun-1998,695,699,3,12,0,21929.00,62654.29,35,Whole Funded,Individual,6.00,0.00,Good,3.33,4,8702.75,3.33

In [29]:
#мы не можем посчитать mort_acc формулой, поэтому дропаем нули
df1.dropna(subset=['mort_acc'], inplace=True)

#перепроверяем нули
null_counts = df1.isnull().sum()
print("Null Value Counts in Each Column:")
print(null_counts)
display(df1.head())

Null Value Counts in Each Column:
id                             0
loan_amnt                      0
term                           0
int_rate                       0
installment                    0
grade                          0
sub_grade                      0
emp_title                      0
emp_length                     0
home_ownership                 0
annual_inc                     0
verification_status            0
issue_d                        0
loan_status                    0
purpose                        0
title                          0
zip_code                       0
addr_state                     0
DTI Ratio %                    0
earliest_cr_line               0
fico_range_low                 0
fico_range_high                0
inq_last_6mths                 0
open_acc                       0
pub_rec                        0
revol_bal                      0
revol_util                     0
total_acc                      0
initial_list_status            0
application_type               0
mort_acc                       0
pub_rec_bankruptcies           0
credit_score_bucket            0
DTI Ratio %                    0
credit_score_range             0
monthly_income                 0
payment_to_income_ratio (%)    0
dtype: int64

,id,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,zip_code,addr_state,DTI Ratio %,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,credit_score_bucket,DTI Ratio %,credit_score_range,monthly_income,payment_to_income_ratio (%)
0,68407277,3600.00,36 months,13.99,123.03,C,C4,leadman,10+ years,MORTGAGE,55000.00,Not Verified,Dec-2015,Fully Paid,debt_consolidation,Debt Consolidation,190xx,PA,2.68,Aug-2003,675,679,1,7,0,2765.00,21269.23,13,Whole Funded,Individual,1.00,0.00,Good,2.68,4,4583.33,2.68
1,68355089,24700.00,36 months,11.99,820.28,C,C1,Engineer,10+ years,MORTGAGE,65000.00,Not Verified,Dec-2015,Fully Paid,small_business,Business,577xx,SD,15.14,Dec-1999,715,719,4,22,0,21470.00,56500.00,38,Whole Funded,Individual,4.00,0.00,Good,15.14,4,5416.67,15.14
2,68341763,20000.00,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,63000.00,Not Verified,Dec-2015,Fully Paid,home_improvement,Home Improvement,605xx,IL,8.24,Aug-2000,695,699,0,6,0,7869.00,43716.67,18,Whole Funded,Joint App,5.00,0.00,Good,8.24,4,5250.00,8.24
3,66310712,35000.00,60 months,14.85,829.90,C,C5,Information Systems Officer,10+ years,MORTGAGE,110000.00,Source Verified,Dec-2015,Current,debt_consolidation,Debt Consolidation,076xx,NJ,9.05,Sep-2008,785,789,0,13,0,7802.00,45894.12,17,Whole Funded,Individual,1.00,0.00,Very Good,9.05,4,9166.67,9.05
4,68476807,10400.00,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,MORTGAGE,104433.00,Source Verified,Dec-2015,Fully Paid,major_purchase,Major Purchase,174xx,PA,3.33,Jun-1998,695,699,3,12,0,21929.00,62654.29,35,Whole Funded,Individual,6.00,0.00,Good,3.33,4,8702.75,3.33

In [30]:
# обновляем датасет
df1.to_csv('Cleaned_LoanApproval.csv')

In [ ]:
Ура, мы почистили файл от нулей и прочего мусора! Можем грузить и дальше работать уже с чистыми данными! 
(то же самое делаем с датасетом отказов)